.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: #f2f2f2;
    flex-direction: column;
  }
  .inviteExit{
    margin-left:50px;
    top:10px;
    width:28px;
    height: 28px;
    margin-top:-5px
  }
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 316px;
    text-align: center;
    height: 260px !important;

  }
  
  .modal-header {
    color: #444444;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  #name{
    background-color: #fafafa;
    border: 1px solid;
    border-color: #e4e4e4;
    border-radius: 6px;
    width:248px;
  }
  #password{
    background-color: #fafafa;
    border: 1px solid;
    border-color: #e4e4e4;
    border-radius: 6px;
    width:248px;
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  .invite-user-name{
    color: #444444;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
  }
  .invite-user-pw{
    color: #444444;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
  }
  #name, #password{
    outline:none;

  }
  .input-group input.error {
    border-color: red;

  }

  .errorPW{
    outline: 1px solid #ff0000 !important;
    outline: none;
  }
  .errorPW::placeholder {
    color: #ff0000; /* placeholder 텍스트 색상 변경 */
  }
  .submit-button {
    cursor: pointer;
    width: 100%;
    background-color: #242424;
    border-radius: 6px;
    height: 40px;
    width:112px;
    color: #fff;
    left: 0;
    margin-top:30px;
  }
  
  .submit-button:hover {
    background-color: #555;
  }
  