.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    width:auto;
    height: auto;
  }
  .tab{
    width: 360px;
    height: 32px;
    background-color: #f4f4f4;
    /* background-color: red; */
    display: block;
    position: relative;
    margin-bottom: 16px;
  }

  .view-mode-toggle2 {
    display: flex;
    align-items: center;
    height: 20px !important;
    background-color: #f5f5f5; /* 비활성화된 부분 배경색 */
    border-radius: 30px; /* 컨테이너 자체를 둥글게 처리 */
    padding: 5px;
    width:50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 살짝 그림자 효과 */
    margin-left:10px;
    padding-right:0;

  }
  
  .toggle-the-other-month {
    /* background-color: white; 
    border-radius: 50%; 
    border: 2px solid gray;  */
    width: 50px; 
    height: 20px ;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #a7a7a7;
    font-size: 12px;
    font-weight: 500;
    background-color: #f5f5f5;

  }
  
  .active {
    background-color: red;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #767676;
    border-radius: 20px;
    height: 30px;
    width:30px !important;
    pad: auto;
  }
  
  .toggle-the-other:hover, .active:hover {
    background-color: lightgray; /* 호버 시 배경 색 */
  }
  
  

  .logo-image {
    margin-bottom: 40px;
    align-self: flex-start; 
  }
  .weekday-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .week-header{
    align-self: flex-start; 
    margin-bottom: 20px;
    display: flex;
  }
  .labelWeek {
    margin-bottom: 10px;
    color: #585858;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-right:203px;
  }
  
  .days-container {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  .day-button {
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 6px;
    height: 64px;
    width: 42px;
  }
  
  .day-button.selected {
    background-color: #fff2c4;
    border: 1px solid #b3b3b3;
  }
  
  .view-week-button {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e4e4e4;
    border-radius: 12px;
    box-shadow: 0px 1px 0px #0000001a;
    height: 24px;
    color: #767676;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
  }
  
  